/* You can add global styles to this file, and also import other style files */

body {
  height: 100%;
  box-sizing: border-box;
  background-color: hsl(218, 23%, 16%);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
